{% extends 'base.html' %}
{% block content %}

{% load static %}

<style>
  body{
    font-family: 'Poppins', sans-serif;
    background: url("{% static 'cloneapp/profile back green 2.svg' %} "), linear-gradient(to bottom, aquamarine, white);
    background-repeat: no-repeat;
    background-size:  cover;
    z-index: -1;
  }
  .container{
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    padding: 30px;
    width: 70%;
    justify-content: center;
    align-self: center;
    place-items: center;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.596), rgba(255, 255, 255, 0.562));
    border-bottom: 3px solid #009879;
  }
  .content-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 16px;
    max-width: 700px;
    min-width: 400px;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.20);
    background-color: rgb(255, 255, 255);
  }
  .content-table td{
    padding: 12px 15px;
  }
  .content-table tbody tr{
    border-bottom: 1px solid rgb(255, 255, 255);
  }
  .content-table tbody tr:nth-of-type(even){
    background-color: rgb(248, 248, 248);
  }
  .content-table tbody tr:last-of-type{
    border-bottom: 3px solid #000000;
  }
  .edit-button, .home-button{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    text-decoration: none;
    width: 100px;
    color: rgb(255, 255, 255);
    background-color: #009879;
    padding: 7px;
    border-radius: 30px;
  }
  .edit-button:hover, .home-button:hover{
    
    transform: scale3d(1.1,1.1,1);
    transition: all 0.2s ease-in;
  }

  @media (max-width: 1000px) {
  body{
      background: url(""),repeating-linear-gradient(45deg, aquamarine, white 50%);
    }
  }

</style>

<div class="container">

  {% if profile.profile_picture %}
  <img src="{{profile.profile_picture.url}}" alt="img" height="100" width="100">
  {% else %}
  <img src="{% static 'image/profile avatar green.svg' %}" alt="img" height="100" width="100">
  {% endif %}

<table class="content-table">
  <tbody>
    <tr>
      <td>Username </td>
      <td>{{profile.username}}</td>
    </tr>

    {% if profile.phone_number %}
    <tr> 
      <td>Phone Number</td>
      <td>{{profile.phone_number}}</td>     
    </tr>
    {% endif %}

    <tr>
      <td>Email Id</td>
      <td>{{profile.email}}</td>
    </tr>

    {% if profile.address %}
    <tr>
      <td>Address</td>
      <td>{{profile.address}}</td>   
    </tr>
    {% else %}

    <tr>
      <td>Address</td>
      <td>Manage your addresses...</td>   
    </tr>
    {% endif %}
 </tbody>
 </table> 

 <br>
 
 <h3 align="center">Transactions</h3>

 <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Txn id</th>
      <th scope="col">Item</th>														
      <th scope="col">Amount</th>
      <th scope="col">Txn date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    {% for tr in transactions %}
      <th scope="row">{{tr.txn_id}}</th>
      <td>{{tr.item}}</td>
      <td>{{tr.amount}}</td>
      <td>{{tr.txn_date}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a class="edit-button" href="{% url 'profileedit' %}">Edit</a>
<a class="home-button" href="{% url 'home' %}">Home</a>
</div>

{% endblock content %}